trigger:
- main    # or master if your branch is master

pool:
  name: 'Default'   # or your correct pool name

variables:
  buildDir: '$(System.DefaultWorkingDirectory)/build'
  reactAppDir: '$(System.DefaultWorkingDirectory)'
  storageAccount: 'myblobui'

stages:
- stage: Build
  displayName: 'Build React App'
  jobs:
  - job: Build
    displayName: 'Build React frontend'
    steps:
    - checkout: self
      clean: true

    - task: NodeTool@0
      inputs:
        versionSpec: '18.x'
      displayName: 'Use Node.js 18'

    - script: |
        cd $(reactAppDir)
        echo "Current directory:"
        pwd
        echo "Installing npm packages..."
        npm install
        echo "Running React build..."
        npm run build
        echo "Build completed. Contents of build folder:"
        dir build
      displayName: 'Install and Build React App'

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(buildDir)'
        ArtifactName: 'drop'
        publishLocation: 'Container'
      displayName: 'Publish Build Artifacts'

- stage: Deploy
  displayName: 'Deploy to Azure Storage Account'
  dependsOn: Build
  jobs:
  - job: DeployToStorage
    displayName: 'Upload to Azure Blob (Static Website)'
    steps:
    - download: current
      artifact: drop

    - task: AzureCLI@2
      inputs:
        azureSubscription: 'mypip'
        scriptType: 'ps'
        scriptLocation: 'inlineScript'
        inlineScript: |
          echo "Uploading files to Azure Storage Account $(storageAccount)"
          az storage blob upload-batch `
            --account-name $(storageAccount) `
            -s "$(Pipeline.Workspace)/drop" `
            -d '$web' `
            --overwrite true
      displayName: 'Deploy to Azure Static Website'
