trigger:
- main    # or master

pool:
  name: 'Default'   # Your agent pool name

variables:
  reactAppDir: '$(System.DefaultWorkingDirectory)'
  buildDir: '$(System.DefaultWorkingDirectory)/crackerfrontend/build'
  storageAccount: 'myblobui'   # Your Azure Storage Account name

stages:
- stage: Build
  displayName: 'Build React App'
  jobs:
  - job: Build
    displayName: 'Build React Frontend'
    steps:
    - checkout: self
      clean: true

    - task: NodeTool@0
      inputs:
        versionSpec: '18.x'
      displayName: 'Use Node.js 18'

    - script: |
        cd $(reactAppDir)/crackerfrontend
        echo "Installing dependencies..."
        npm install
        echo "Building React app..."
        npm run build
        echo "Build completed!"
        dir build
      displayName: 'Install and Build React App'

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(reactAppDir)/crackerfrontend/build'
        ArtifactName: 'drop'
        publishLocation: 'Container'
      displayName: 'Publish Build Artifacts'

- stage: Deploy
  displayName: 'Deploy to Azure Storage Account'
  dependsOn: Build
  jobs:
  - job: DeployToStorage
    displayName: 'Upload to Azure Blob (Static Website)'
    steps:
    - download: current
      artifact: drop

    - task: AzureCLI@2
      inputs:
        azureSubscription: 'mypip'   # your service connection name
        scriptType: 'ps'
        scriptLocation: 'inlineScript'
        inlineScript: |
          echo "Uploading files to Azure Storage Account $(storageAccount)"
          az storage blob upload-batch `
            --account-name $(storageAccount) `
            -s "$(Pipeline.Workspace)/drop" `
            -d '$web' `
            --overwrite true
      displayName: 'Deploy to Azure Static Website'
